<i *ngIf="!friends">Loading</i>
<div *ngFor="let friend of friends">
  <button (click)="sendUserId(friend.userId)" id="{{friend.userId}}" class="person">
    <div class="left">
      <img class="person-img" [src]="friend.photo" alt="{{friend.nickName}}">
      <div class="nick"> <strong> {{friend.nickName}} </strong> </div>
    </div>
    <div class="right">
      <span *ngIf="friend.nonReadMessageCount>0" class="my-badge"
        id="{{friend.userId}}-badge">{{friend.nonReadMessageCount}}</span>
    </div>
  </button>
</div>