<div class="container-man">
    <div class="buttons">
        <button class="btn btn-outline-info" routerLinkActive='active' routerLink='photo'>
            Fotoğraf
        </button>
        <button class="btn btn-outline-info" routerLinkActive='active' routerLink='password'>
            Şifre
        </button>
        <button class="btn btn-outline-info" routerLinkActive='active' routerLink='chat'>
            Ana Sayfa
        </button>
    </div>

    <div class="settings">
        <router-outlet></router-outlet>
    </div>
</div>