<div class="row ">
  <span class="col-3 offset-1">
    <div class="card">
      <div class="card-body">
        <button class="btn btn-outline-info form-control setting-button" routerLink='/chat'>Ana Sayfaya Dön</button>
        <button class="btn btn-outline-info form-control setting-button" routerLink='room-setting'>Oda Ayarları</button>
        <button class="btn btn-outline-info form-control setting-button" routerLink='user-setting'>Kullanıcılar</button>
      </div>
    </div>
  </span>
  <span class="col-6">
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </span>
</div>