<div class="container-man">
  <div class="card menu-card">
    <div class="card-body">
      <button class="btn btn-outline-info form-control setting-button" routerLink='room-setting'>Oda Ayarları</button>
      <button class="btn btn-outline-info form-control setting-button" routerLink='user-setting'>Kullanıcılar</button>
      <button class="btn btn-outline-info form-control setting-button" routerLink='/chat'>Ana Sayfaya Dön</button>
    </div>
  </div>
  <div class="card main-card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>