<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><b>Register</b></h5>
          <form class="form-signin">
            <div class="form-group">
              <input type="text" class="form-control btn-radius" placeholder="İsim" required autofocus>
            </div>

            <div class="form-group">
              <input type="text" class="form-control btn-radius" placeholder="Soyisim" required>
            </div>

            <div class="form-group">
              <input type="text" class="form-control btn-radius" placeholder="Kullanıcı Adı" required>
            </div>

            <div class="form-group" >
              <input type="email" id="inputEmail" class="form-control btn-radius" placeholder="Email address" required>
            </div>

            <hr>

            <div class="form-group">
              <input type="password" id="inputPassword" class="form-control btn-radius" placeholder="Password" required>
            </div>

            <div class="form-group">
              <input type="password" id="inputConfirmPassword" class="form-control btn-radius" placeholder="Confirm Password"
                required>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
            <a class="d-block text-center mt-2 small" href="#">Sign In</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>