.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card-signin .card-body{
    height: 450px;
    padding: 0;
    background-color: lightblue;
  }
  .card-signin .card-header{
      padding: 2px 20px 2px 2px;
  }

.card-header .fas{
    font-size: 40px;
}

.card-header .btn{
    border-radius: 40px;
}


.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}

.send_btn{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
        
.card-footer{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    padding: 0;
}

.msg_card_body{
    overflow-y: auto;
}

.msg_container{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 5px 25px 25px 25px;
    background-color: #24d81d;
    padding: 10px;
    position: relative;
    word-break: break-all;
}

.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color:black;
    font-size: 10px;
}

.contacts_body{
    overflow-y: auto;
    white-space: nowrap;
}