.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card-signin .card-body{
    height: 450px;
    padding: 0;
    background-color: lightblue;
    padding-top: 1px;
    word-break: break-all;
  }
  .card-signin .card-header{
      padding: 2px 20px 2px 2px;
  }

.card-header .fas{
    font-size: 40px;
}

.card-header .btn{
    border-radius: 15px 15px 5px 5px;
}


.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
    border-top-left-radius: 0;
}

.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}

.send_btn{
	background-color: rgba(10, 51, 163, 0.5) !important;
	border:0 !important;
	color: white !important;
    cursor: pointer;
    border-top-right-radius: 0;
}
        
.card-footer{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    padding: 0;
}

.msg_card_body{
    overflow-y: auto;
}

.msg_container_left{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    border-radius: 5px 25px 25px 25px;
    background-color: #24d81d;
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 4px;
    position: relative;
    word-break: break-all;
    padding-top: -5px;
}

.msg_container_right{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    border-radius: 25px 5px 25px 25px;
    background-color: #24d81d;
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 4px;
    position: relative;
    word-break: break-all;
    padding-top: -5px;
}

.msg_time{
    font-size: 10px;
    margin-top: -3px;
    color: darkslategrey;
}

.contacts_body{
    overflow-y: auto;
    white-space: nowrap;
}

.log-out{
    float: right;
    margin-left: 0;
    margin-top: 10px;
    background-color: white;
    height: 40px;
    width: 20px;
    text-align: center;
    padding:0;
    transition:400ms;
}

.log-out:hover{
    width: 80px;
    transition: 500ms;
}
